extends layout.pug
block content
  main
    - var path = dataForm.id ? '/articles/edit/' + dataForm.id : '/articles/add'
    - var title = dataForm.id ? 'Режим редактирования' : 'Новая публикация'
    section
      .popup.popup--new-publication.popup--anti
        .new-publication
          form(action=path method='post' enctype='multipart/form-data')
            input(type="hidden" name="_csrf" value=csrfToken)
            .new-publication__header
              h1= title
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(type='text' name='date' value=dateNowISO)
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            a.popup__button.button.button--popup-close(aria-label='Закрыть окно' href='/articles')
              | Закрыть
              | окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type='text' name='title' placeholder='Заголовок' value=dataForm.title)
                +insertSingleFieldError(validateMessagesWithFields, 'title')
                .form__field.form__field--post-image
                  label
                    input#image-name-field(type='text' name='photo' value=dataForm.photo placeholder='Фотография' readonly='')
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='picture' accept='image/png, image/jpg, image/jpeg')
                      | Обзор
                      input(type='hidden', id='pictureName' name='pictureName' value=dataForm.currentPictureName)
                  button.button.button--transparent(type='button') Удалить
                .new-publication__category-wrapper
                  each category, index in categories
                    .new-publication__checkbox.new-publication__checkbox--auto
                      input(type='checkbox' name='category' id=category.id value=category.id checked=!!dataForm.categories.find((el) => +el === category.id))
                      label(for=category.id) #{category.name}
                  a.new-publication__form-link.button.button--transparent(href='/categories') Добавить категорию
                +insertSingleFieldError(validateMessagesWithFields, 'categories')
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(rows='5' name='announce' placeholder='Анонс публикации') #{dataForm.announce}
                +insertSingleFieldError(validateMessagesWithFields, 'announce')
                .form__field.form__field--publication-text
                  label
                    textarea(rows='10' name='full-text' placeholder='Полный текст публикации') #{dataForm.fullText}
                +insertSingleFieldError(validateMessagesWithFields, 'fullText')
          +insertErrorMessage(validationMessages)
