extends layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            button.post__backwards.button.button--backwards(onclick="window.history.back()") Назад
            time.post__date(datetime=article.createdAt) #{article.date}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href='/articles/category/' + category.id) #{category.name}
                    sup  #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if article.picture
            .post__picture
              img(src='/img/' + article.picture alt='изображение статьи')
          .post__text
            h3 #{article.announce}
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            each comment in article.comments
              li.comments__comment
                .comments__avatar.avatar
                  img(src='/img/' + comment.users.avatar alt='аватар пользователя')
                .comments__text
                  .comments__head
                    p #{comment.users.firstName} #{comment.users.lastName} •
                    time.comments__date(datetime=comment.createdAt) #{comment.date}
                  p.comments__message #{comment.fullText}
          .comments__footer.comments__footer--user
            form(action='/articles/' + article.id method='post' autocomplete="off")
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' name='fullText' placeholder='Присоединиться к обсуждению') #{fullText || ''}
              button.comments__button.button.button--colored(type='submit') Опубликовать
            +insertErrorMessage(validationMessages)
