doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='Личный блог Типотека')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
  style.
    .server-errors{
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .server-error{
      border-radius: 10px;
      color: tomato;
      border: 1px solid tomato;
      background-color: transparent;
      padding: 5px;
    }
    .single-server-error{
      color: tomato;
      font-size: 12px;
      margin: 5px 0;
    }
body
  mixin pagination(page, totalPages, prefix)
    -
      let i = 0;

    .preview__toggle-wrapper
      ul.preview__pagination.pagination
        li
          a.pagination__button.button.button--backwards(class= (page <= 1) ? 'button--disabled' : '' href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
        while i++ < totalPages
          li.pagination__item(class= (page === i) ? 'pagination__item--active' : '')
            if page === i
              a= i
            else
              a(href=`${prefix}page=${i}`)= i
        li
          a.pagination__button.button.button--forward(class= (page >= totalPages) ? 'button--disabled' : '' href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперед

  mixin insertSingleFieldError(errors, fieldName)
    -
      const error = errors.find((el) => el.fieldName === fieldName)

    if error
      p.single-server-error= error.error

  mixin insertErrorMessage(messages)
    if messages
      .server-errors
        each message of messages
          .server-error= message

  .wrapper
    include partials/header.pug
    block content
    include partials/footer.pug
    script(src='/js/vendor.js')
    script(src='/js/main.js')
