extends layout.pug

block content
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        .search.search-page__form
          .search-page__wrapper(class=!result.length && search ? 'search-page__wrapper--empty' : '')
            form(action='/search' method='get')
              label
                input(type='text' name='search' placeholder='Что ищем?' value=search)
              button.search__button.button.button--transparent(type='submit') Найти
            if !result.length && search
              p.search-page__empty Ничего не нашлось
            else
              each item in result
                .search__result
                  time.search__date(datetime=item.createdData) #{item.createdData}
                  a.search__link(href=`/articles/${item.id}`) #{item.title}

